/* Tablet */

@media (max-width: 768px) {
  /* Navigation layout */

  nav {
    flex-direction: column;
    gap: 30px;
  }

  .logo-container {
    flex-direction: column;
  }

  .links-container {
    justify-content: center;
  }

  /* Header layout */

  header {
    padding: 50px;
    display: flex;
  }

  /* Header items */

  #header-title {
    font-size: 3rem;
    font-family: "Indie Flower";
  }

  /* Main layout */

  main {
    flex-direction: column;
  }

  /* Projects layout */

  #projects-container {
    text-align: center;
    gap: 0px;
    padding: 0px;
  }

  /* Projects items */

  #projects-title {
    border-bottom: 1px solid black;
    padding: 20px;
  }

  #projects-list {
    gap: 0px;
  }

  .projects-item {
    border-bottom: 1px solid black;
    padding: 15px;
    background-color: lightgray;
  }

  #work-title {
    text-align: center;
    padding: 20px;
  }

  #about-container-top {
    padding: 0;
  }

  .about-text-container {
    padding: 20px;
    border-top: 1px solid;
    background-color: lightgrey;
  }

  #about-container-bottom {
    background-color: lightgrey;
  }

  /* education-container items */

  #education-title {
    text-align: center;
    padding: 20px;
  }

  /* teacher-revies layout */

  #teacher-reviews-titles {
    text-align: center;
    padding: 20px;
  }

  #review-box-container {
    flex-direction: column;
    align-items: center;
  }

  #copyright {
    padding: 50px;
  }
}

/* Mobile */

@media (max-width: 500px) {
  /* Navigation layout */
  nav {
    justify-content: baseline;
  }

  .links-container {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  /* Header item*/

  #header-title {
    font-size: 1.8rem;
  }

  #header-text {
    text-align: center;
  }

  /* Project items */

  .title-theme {
    font-size: 1.5rem;
  }

  .work-type {
    font-size: 1.2rem;
  }

  .work-description {
    font-size: 1.2rem;
  }

  .profile-link {
    font-size: 1.2rem;
  }

  .education-text {
    font-size: 1.2rem;
  }

  .course-item {
    font-size: 1.2rem;
  }

  .review-box {
    width: 300px;
  }

  .review-text {
    font-size: 1.2rem;
  }
}

/* Mobile S layout */
@media (max-width: 350px) {
  #header-title {
    font-size: 1.5rem;
  }

  .title-theme {
    font-size: 1.5rem;
  }

  .work-type {
    font-size: 1rem;
  }

  .work-description {
    font-size: 1rem;
  }

  .profile-link {
    font-size: 1rem;
  }

  .education-text {
    font-size: 1rem;
  }

  .course-item {
    font-size: 1rem;
  }

  .review-box {
    width: 300px;
  }

  .review-text {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) and (max-width: 768px) and (min-width: 350px) {
  #projects-container {
    border: 1px solid #ccc;
  }

  .projects-item {
    background-color: grey;
    border-bottom: 1px solid #ccc;
  }

  .projects-item:first-child {
    border-top: 1px solid #ccc;
  }

  .projects-item:last-child {
    border-bottom: none;
  }

  #about-container-top {
    border-top: none;
    border: 1px solid #ccc;
  }

  .about-text-container {
    background-color: grey;
  }

  #about-container-bottom {
    background-color: grey;
    border-bottom: none;
  }

  #about-section {
    border-top: none;
  }

  #education-container {
    border: 1px solid #ccc;
    border-top: none;
  }
}

/* Dark mode below 350px */
@media (prefers-color-scheme: dark) and (max-width: 349px) {
  #projects-container {
    border: 1px solid #ccc;
  }

  .projects-item {
    background-color: grey;
    border-bottom: 1px solid #ccc;
  }

  .projects-item:first-child {
    border-top: 1px solid #ccc;
  }

  .projects-item:last-child {
    border-bottom: none;
  }

  #about-container-top {
    border-top: none;
    border: 1px solid #ccc;
  }

  .about-text-container {
    background-color: grey;
    border-bottom: 1px solid #ccc;
  }

  #about-container-bottom {
    background-color: grey;
    border-bottom: 1px solid;
  }

  #about-section {
    border-top: none;
  }

  #education-container {
    border: 1px solid #ccc;
    border-top: none;
  }
}
